<h1>Comprehensive List of Posts</h1>
<p><%= link_to 'Make', new_article_path %> a new one</p>
<table>
  <tr>
    <th>Title</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.comments.length =%> comments</td> 
      <td id="read"><%= link_to 'Read', article_path(article) %></td>
      <td class="command"><%= link_to 'E', edit_article_path(article) %></td>
      <td class="command"><%= link_to 'D', article_path(article),
              method: :delete,
              data: { confirm: 'Really?' } %></td>
    </tr>
  <% end %>
</table>
